.link {
  font-size: 26px;
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 20px;
  border-bottom: 2px solid black;
  margin: 20px;
  padding-bottom: 20px;
}

.active {
  color: red;
  text-decoration: underline;
}
